@page "{id:int?}"

@model ResumеBuilder.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@{
    string modelId = Html.DisplayTextFor(m => m.User.Id).ToString();
    string? sessionId = HttpContext.Session.GetString("_Id");

    if(sessionId == null || modelId != sessionId)
    {
        <h1>Restricted Access</h1>
    }
    else
    {
        <h2>Details</h2>
        <hr />
        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.FullName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.FullName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.DateOfBirth)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.DateOfBirth)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.Username)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.Username)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.PhoneNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.PhoneNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.Address)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.Password)
                </dt>
                <dd class="col-sm-10">
                    @Html.PasswordFor(model => model.User.Password, new { @readonly = "readonly" })
                </dd>
                <hr />
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.Skills)
                </dt>
                @{
                    var skills = Model.User?.Skills?.Split(",");

                    if(skills != null)
                    {
                        foreach (var skill in skills)
                        {
                            <p>@skill</p>
                        }
                    }
                }
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.Interests)
                </dt>
                @{
                    var interests = Model.User?.Interests?.Split(",");

                    if (interests != null)
                    {
                        foreach (var interest in interests)
                        {
                             <p>@interest</p>
                        }
                    }
                }
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.Experiences)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.Experiences)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.Education)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.Education)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-page="./Edit" asp-route-id="@Model.User?.Id">Edit</a> |
            <a asp-page="./AddMoreInfo">Add Info</a> |
            <a asp-page="./Delete" asp-route-id="@Model.User?.Id">Delete</a>
        </div>
    }
}


